<p id="error-message" style="color: red;"></p>
<form style="max-width: 300px; margin: 0 auto;" method="POST" id="loginForm">
  <h2 style="text-align: center;">Inicio de sesion</h2>
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="Email"
    style="width: 100%; padding: 8px; margin-bottom: 10px;"
    required
  />
  <label for="password">Password:</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="*******"
    style="width: 100%; padding: 8px; margin-bottom: 10px;"
    required
  />
  <button type="submit">
    Iniciar sesion
  </button>

</form>
<div style="max-width: 300px; margin: 0 auto;">
  <button
    onclick="window.location.href = '/mandarEmail';"
    style="max-width: 300px; margin: 10 auto;"
  >
    Olvide mi contrasenia
  </button>
  <button onclick="window.location.href = '/api/sessions/github';">Entrar con
    GitHub</button>
</div>

<div style="max-width: 300px; margin: 0 auto;">
  <p>No tienes cuenta?</p>
  <button onclick="window.location.href = '/register';">Registrarse</button>
</div>

<script src="/js/login.js"></script>