<form action="/api/users/sendEmailToResetPassword" method="POST">
  <label for="email">Escribe tu email</label>
  <input
    type="email"
    id="email"
    name="email"
    placeholder="E-mail"
    style="width: 300px; padding: 8px; margin-bottom: 10px;"
    required
  />
  <button type="submit">Enviar</button>
</form>
